{%  extends 'accounts/main.html' %}

{% block content %}

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Produkty</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Produkt</th>
                        <th>Kategoria</th>
                        <th>Cena</th>
                    </tr>

                </table>
            </div>
        </div>

    </div>

{% endblock content %}